.inputed {
    border: #000000 solid 1px;
    margin-bottom: 20px;
    width: 165px;
    height: 36px;
    background: #fff;
    color: #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 17px;
    border-radius: 6px;
}