#login{
    display: none;
}

#choose{
    display: none;
}

#terms{
    display: none;
}

#calc{
    display: none;
}

#info{
    display: none;
}

#review{
    display: none;
}

#payment{
    display: none;
}

.pointcursor {
    cursor:pointer;
}
